*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: ; */
}
html , body{
    height: 100%;
    width: 100%;
    background-color: #000;
    overflow-x: hidden;
}
#main{
    height: 100%;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/531767/pexels-photo-531767.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
    color: #fff;
}
#nav h2{
    font-size: 30px;
}
#nav i{
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
}

#full{
    height: 100%;
    width: 40%;
    position: absolute;
    top: 0;
    right: -40%;
    background-color: rgba(255, 255, 255, 0.544);
    backdrop-filter: blur(10px);
    padding: 150px 70px;

}


#full h4{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
}

#full i{
    position: absolute;
    top: 5%;
    right: 10%;
    background-color: #fff;
    padding: 5px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
}